
html {
	width: 100%;
	height:100%;
}

/* 400px screen resolution & bigger display the background image */
@media (min-width: 400px) {
	body { 
		background: url("../img/bg.jpg") no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
	}
}

body {
	background-color:transparent !important;
	height: 100%;
}

.content {
	position: absolute;
	left:0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

#mainApp {
	width: 100%;
	height: 100%;
}

/************************************************
Login stuff
************************************************/
#loginForm {
	width:400px;
	background: rgba(255,255,255,.5);
	margin: 50px auto 0 auto;
	border-radius: 10px;
	padding: 20px;
}

#loginForm img {
	max-width: 300px;
	margin-bottom: 10px;
}

#loginForm input:first-of-type{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#loginForm input:nth-of-type(2){
	border-radius: 0px;
}

#loginForm button{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	background-color: #2C4762;
	border-color: #1C3752;
}

#loginFormGroup .popover-content{
	color: red;
}


/************************************************
Dashboard Container
************************************************/

.navbar-brand img {
	margin-top:-7px;
	margin-bottom:-2px;
}

#dashboardContainer {
	position: absolute;
	left:0;
	bottom: 0;
	top: 50px;
	right:0;
	background-color: #fff;
}

#signoutButton {
	/*margin-right:7px;*/
	background-color: #222;
	color:white;
}

#signoutButton:hover {
	background-color: #000;
	color:white;
}

/************************************************
Visit Viewer View
************************************************/
#logitem-list {
	list-style:none;
}

.li-visit:hover{
	text-decoration: underline;
}

#map{
	width: 100%;
	height:400px;
	background-image: url('../img/spinner.gif');
	background-repeat: no-repeat;
	background-position: center;
}

#map > div{
	height:100%;
}

.mentor {
	display:block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding:10px 0 0;
}

.smallProfilePicture {
	display:inline-block;
	width:60px;
	height:60px;
	border-radius:30px;
	background-size:cover;
	vertical-align:middle;
	border:1px solid #2c4762;
}

#mentorNav {
	margin-bottom: 0px;
}

#sidebar {
	width:30%;
	background:#2c4762;
	height:100%;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
}

#sidebar ul{
	list-style-type: none;
}

#sidebar ul li{
	cursor: pointer;
}

#mentorListFilter{
	padding:5px;
	box-shadow: 0 7px 13px -10px #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	color: #FFF;
}

#mentorListFilter .input-group-addon{
	background: #2c4762; 
	border-right: none;
	padding-top: 4px;
	position: static;
}

#mentorListFilter .searchInput {
	background: #2c4762;
	color: #FFF;
}

.searchInput {
	float:left;
	border-left: none;
}

.searchInput:focus{
	box-shadow: none;
	border: 1px solid #CCCCCC;
	border-left: none;
}

#mentor-list {
	color: white;
	width: 100%;
	padding: 0 10px 5px 10px;
	list-style: none;
	position: absolute;
	top: 45px;
	bottom: 0px;
	margin: 0;
	overflow-y: scroll;
	z-index: 0;
}

.mentor-name {
	font-size:22px;
	height:60px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mentor-name:hover {
	color:#D1D1D1;
	text-shadow:0px 0px 2px #000;
}

#visit {
	margin:0 auto;
	max-width:960px;
}

#main-pane-welcome{
	font-size: 110px;
	color:#BBB;
}

#logitem-list{
	padding:0;
}

#no-comments{
	font-size:22px;
	color:#999;
	text-align: center;
}

.visitComment, .visitPhoto {
	width:80%;
	margin:10px auto;
}

.visitComment span, .visitPhoto span {
	display:block;
}
.visitComment span i {
	color: #666;
}

#visitLog {
	width:100%;
	margin:10px 0 0;
	padding:0;
}

.visitPhoto img.thumbnail {
	margin:0;
	display:block;
	width:20%;
}

#visit-wrapper{
	right:0;
	width:70%;
	padding: 10px;
	position: absolute;
	top:0;
	bottom:0;
	background: white;
	overflow-y: scroll;
	float:right;
}

.visit-list{
	width:95%;
	max-height: 0px;
	overflow: hidden;
}

.visit-list li:before { 
	content: "";
	border-color: transparent #fff;
	border-style: solid;
	border-width: 0.35em 0 0.35em 0.45em;
	display: block;
	max-height: 0;
	width: 0;
	left: -1em;
	top: 0.9em;
	position: relative;
}

.visit-list li.emptyItem:before {
	border-color:transparent;
}

.visit-list li.emptyItem:hover {
	cursor:default !important;
}

.expanded {
	max-height: 10000px;
}

.visit-list:first-child {
	margin-top: 10px;
}

.image-modal img {
	max-width: 100%;
}
/************************************************
Admin
************************************************/
.adminPaneHeader {
	padding: 10px;
}
.adminPaneHeader h1 {
	margin: 0;
	line-height: 50px;
}

/************************************************
Admin Detail
************************************************/
#adminDetailPane {
	width: 50%;
	top: 70px;
	position: absolute;
	right: 0;
	bottom: 0;
	padding-left: 5px;
}

.detail-header {
	height: 80px;
	padding:5px;
	box-shadow: 0 7px 13px -10px #000;
	z-index: 1;
	position:absolute;
	left:0;
	right:0;
	color:white;
	background-color: #2c4762;
	vertical-align: center;
}

.detail-header h1{
	line-height: 70px;
	margin-top:-.5em;
}

.detail-header h1 .smallProfilePicture {
	vertical-align: center;
	margin-top:-.25em;
}

.detail-info {
	position:absolute;
	top:100px;
	bottom:0;
	left:0;
	right:0;
	overflow-y: auto;
}

#adminDetailPane h1 {
	margin: 0 auto;
	text-align: center;
}

#adminDetailPane img {
	width: 50px;
}

.center {
	margin: 0 auto;
	display: block;
}

.adminMoreDetails > div {
	width: 50%;
	float: left;
	text-align: left;
	padding: 20px 0 10px 10px;
}

.adminMoreDetails > div span {
	display: block;
	font-weight: bold;
}

.adminMoreDetails address {
	margin: 0;
}

.detail-save {
	right: 10px;
	position:absolute;
	width:100px;
	height:0px;
	overflow:hidden;
	-webkit-transition: height 0.4s ease !important;
	-moz-transition: height 0.4s ease !important;
	-o-transition: height 0.4s ease !important;
	transition: height 0.4s ease !important;
}

.detail-save.show{
	height:40px;
}

.detail-save > button{
	position: absolute;
	bottom:0;
}

#adminDetailPane input {
	height: 20px;
	border: 1px solid white;
	box-shadow: none;
	padding: 1px 2px;
	line-height: 20px;
	color: #333;
}

#adminDetailPane input:hover {
	border: 1px solid #CCCCCC;
}

#adminDetailPane input:focus {
	border: 1px solid #99D;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
}

     /*********************
     *  Name           *
     *********************/
.name form {
	display: inline-block;
}

#adminDetailPane .name-input {
	display: inline-block;
	background-color: #2c4762;
	font-size: 32px;
	height: auto;
	width: auto;
	border: 1px solid #2c4762;
	color: #fff;
}

#adminDetailPane .name-input:hover {
	border: 1px solid #ccc;
}

#adminDetailPane .name-input:focus {
	border: 1px solid #fff;
}
     /*********************
     *  ADDRESS           *
     *********************/
address input.city{
	width:70%;
}

address input.state{
	width:25%;
	float: right;
}

     /*********************
     *  KID PAIRING       *
     *********************/

.kid-pairing span.twitter-typeahead{
	position: relative;
	left:0;
	right:10px;
}

.kid-pairing-list{
	list-style-type: none;
	margin:0;
	padding:0;
}

.kid-pairing-list > li {
	height: 23px;
}

button.add-kid-pair{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 0 none;
	cursor: pointer;
	padding: 0;
	color: #000000;
	float: right;
	font-size: 11px;
	font-weight: bold;
	line-height: 32px;
	opacity: 0.2;
	text-shadow: 0 1px 0 #FFFFFF;
}


button.add-kid-pair:hover{
	color: black;
	opacity: .5;
	text-decoration: none;
}

.tt-dropdown-menu {
	width:177px;
	margin-top: 1px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion p{
	margin:0;
}

.tt-suggestion:first-child{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.tt-suggestion:last-child{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.tt-suggestion{
	padding:3px 4px;
}

.tt-cursor{
	color:white;
	cursor: pointer;
	background-color: #2c4762;
}

.no-kids-found {
	padding:3px 4px;
}


/************************************************
Admin List
************************************************/

#adminListPane {
	width: 50%;
	top: 70px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

#adminListFilter{
	height: 80px;
	padding:5px;
	box-shadow: 0 7px 13px -10px #000;
	width:100%;
	z-index: 1;
	background-color: #2c4762;
}

#adminListFilter .input-group{
	margin-bottom:5px;
}

#adminListFilter button{
	margin-right:5px;
}

#adminList {
	top: 80px;
	position: absolute;
	width: 100%;
	bottom: 0px;
	overflow-y: scroll;
	list-style-type: none;
	padding:5px;
}

#adminList > li {
	cursor: pointer;
	margin:4px;
}

#adminList > li > span {
	font-size: 20px;
	padding: 3px 5px;
}

#adminList > li.beingViewed > span > :last-child {
	font-size: 17px;
	color: #666;
}

#adminList > li > span > .badge {
    vertical-align:middle;
    margin-top: -0.3em;
}
/*
#adminList > li > span > span.user-type {
	font-weight: bold;
	font-size: 14px;
	color: #AAA;
	line-height: 100%;
}*/

#adminList > li:hover > span {
	background: #EEE;
	border-radius: 3px;
	padding: 2px 4px;
	border: 1px solid #DDD;
	color: #2c4792;
}

/************************************************
Utility functions and misc cruft
************************************************/

.transition-max-height {
	-webkit-transition: max-height 1.5s ease;
	-moz-transition: max-height 1.5s ease;
	-o-transition:  max-height 1.5s ease;
	transition:  max-height 1.5s ease !important;
}