@media (min-width: 400px) {
	body { 
	  background: url("../img/bg.jpg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  height: 100%;
	}
}

html{
    width: 100%;
}

body {
	background-color:transparent !important;
	height: 100%;
}

.halfDown {
	margin-top:10%;
}

#outter{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background:white;
    height:100%
}

#panel{
    float: left;
    width:30%;
    background:red;
    height:100%
}
    

#mainPane{
    float:right;
    width:70%;
    height:100%
}