/* Please alphabetize CSS so it is easier to search through, thanks :) */

/* 400px screen resolution & bigger display the background image */
@media (min-width: 400px) {
    body { 
        background: url("../img/bg.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
    }
}

body {
    background-color:transparent !important;
    height: 100%;
}

.content {
    position: absolute;
    left:0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#dashboardContainer {
    position: absolute;
    left:0;
    bottom: 0;
    top: 50px;
    right:0;
}

html {
    width: 100%;
    height:100%;
}

.li-visit:hover{
    text-decoration: underline;
}

#loginFormGroup .popover-content{
    color: red;
}

#mainApp {
    width: 100%;
    height: 100%;
}

#map{
    width: 100%;
    height:400px;
}

.mentor {
	display:block;
}

.mentor span {
	display:block;
	width:60px;
	height:60px;
	border-radius:30px;
	background-size:cover;
}

#mentorNav {
    margin-bottom: 0px;
}

#mentor-list {
    color: white;
    width:90%;
	margin:0 0 0 10%;
    padding:0;
    list-style:none;
	overflow-y:scroll;
}

#mentorlistfilter {
    width:100%;
    margin:0;
}

#searchbar {
    width:100%;
    margin:0;
	border:0px;
	padding:8px;
	outline:none;
	border:1px solid #000;
}

#sidebar {
    width:30%;
    background:#2c4762;
    height:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
}

#sidebar ul{
    list-style-type: none;
}

#sidebar ul li{
    cursor: pointer;
}

.topMargin {
	margin-top:10%;
}

#visit{
    right:0;
    width:70%;
    padding: 10px;
    position: absolute;
    top:0;
    bottom:0;
    background: white;
    overflow: scroll;
	float:right;
}

.visit-list{
    width:95%;
    float: right;
    height: 0px;
    overflow: hidden;
}

.visit-list.expanded {
    height: auto;
}

.visit-list:first-child {
    margin-top: 10px;
}