/* used to hide all the stuff that isn't the visit view */

#sidebar{
    display: none !important;
}

.navbar{
    display: none !important;
}

#visit-wrapper{
    position: static !important;
    width: auto !important;
    overflow-y: default !important;
}

#dashboardContainer {
    position: static !important;
    width: auto !important;
}

.content {
    position: static !important;
    width: auto !important;
}

.visitPhoto img.thumbnail {
	width:auto;
	height:3in;
	page-break-inside: avoid;
}

#logitem-list > li {
	page-break-inside: avoid;
}