<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>Royal Family Kids</title>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://www.parsecdn.com/js/parse-1.1.15.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/moment.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	
    <script src="js/util.js"></script>
	<script src="js/rfk.js"></script>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="css/custom.css"/>
  </head>

  <body>

    <div id="mainApp">
        <div class="content">
        </div>
    </div>

    <script type="text/template" id="login-template">
        <header id="header"></header>
        <div class="container">
            <div class="col-md-5 center topMargin">
                <form class="form-horizontal loginForm" role="form">
                    <h2 class="text-right" id="loginTitle" style="text-shadow:0px 0px 5px #8A8A8A;">Royal Family Kids Login</h2>
                    <div class="error" style="display:none"></div>
                    <div class="form-group" id="loginFormGroup">
                    <label for="inputEmail" class="col-lg-3 control-label">Email</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="inputEmail" placeholder="Email"
                            data-content="Invalid email/password" data-trigger="manual">
                    </div>
                    </div>
                    <div class="form-group">
                    <label for="inputPassword" class="col-lg-3 control-label">Password</label>
                    <div class="col-lg-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-7">
                        <button type="submit" class="btn btn-default" data-loading-text="Signing in...">Sign in</button>
                    </div>
                    </div>
                </form>
              
            </div> <!-- /col-md-5 -->
            
        </div> <!-- /container -->
    </script>

	<script type="text/template" id="dashboard-template">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <a class="navbar-brand" href="#">RFK</a>
            <div class="navbar-right">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
                <button type="button" class="btn btn-default navbar-btn" id="signoutButton">Sign out</button>
            </div>
        </nav>

		<div id="dashboardContainer">
            <div id="sidebar">
            </div>
            <div id="visit">
                Select a visit
            </div>
        </div>
    </script>
    
    <script type="text/template" id="side-bar-template">
        <nav id="mentorNav" class="navbar navbar-inverse navbar-static-top" role="navigation">
            <p class="navbar-text">Mentor</p>
        </nav> 
        <ul id="mentor-list">
            loading mentor list...
        </ul>
    </script>
    
    <script type="text/template" id="mentor-item-template">
        <li class="mentor">
            <div class="mentor-name"><%= username %></div>
            <ul class="visit-list">
                loading visits...
            </ul>
        </li>
    </script>
    
    <script type="text/template" id="visit-item-template">
        <li class="li-visit"><%= Name %></li>
    </script>
    
    <script type="text/template" id="visit-template">
        <h1><%= Name %></h1>
        <%= Start.format('MMMM Do YYYY, h:mm a') %>
        <div id="map">
            Loading map...
        </div>
    </script>
    
    <script type="text/template" id="map-template">
        imma map
    </script>

  </body>

</html>
