<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Royal Family Kids</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="js/underscore-min.js"></script>
		<script src="https://www.parsecdn.com/js/parse-1.2.18.min.js"></script>
		<script src="js/typeahead.bundle.js" ></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/moment.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
		<script src="js/bootstrap-lightbox.min.js"></script>

		<script src="js/util.js"></script>
		<script src="js/rfk.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="css/bootstrap.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-lightbox.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/custom.css"/>
		<link href="css/print.css" media="print" rel="stylesheet" />

		<link rel="icon" href="img/favicon.png" type="image/png" />
		<link rel="shortcut icon" href="favicon.ico" />
	</head>

	<body>

	<div id="mainApp">
		<div class="content">
		</div>
	</div>

	<script type="text/template" id="login-template">
		<div id="loginForm">
			<img src="img/logo-300.png"/>
			<form class="form-horizontal" role="form">
				<div class="error" style="display:none"></div>
				<label for="inputEmail" class="hidden control-label">Email</label>
				<input class="form-control form-control input-lg" id="inputEmail" placeholder="Email" data-content="Invalid email/password" data-trigger="manual">
				<label for="inputPassword" class="hidden control-label">Password</label>
				<input type="password" class="form-control input-lg" id="inputPassword" placeholder="Password">
				<button type="submit" class="btn btn-primary btn-lg" style="width:100%" data-loading-text="Signing in...">Log in</button>
			</form>
		</div>
	</script>

	<script type="text/template" id="dashboard-template">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#visits"><img src="img/nav-logo.png"/> Royal Family KIDS</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav" id="navLinks">
					<li id="visitTopNav" class="active"><a href="#visits"> Visits</a></li>
					<li id="adminTopNav"><a href="#admin">Manage</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<button type="button" class="btn btn-default" id="signoutButton">Sign out <i class="glyphicon glyphicon-log-out"></i></button>
				</form>
					<p class="navbar-right navbar-text">Logged in as <%= currentUsername %> </p>
			</div>
		</nav>

		<div id="dashboardContainer">
		</div>
	</script>

	<script type="text/template" id="admin-template">
		<div class="adminPaneHeader">
			<h1>Management</h1>
		</div>
		<div id="adminListPane" class="">
		</div>
		<div id="adminDetailPane">
			<div class="detail-header">
				<h1> <span style="font-size:.8em" class="glyphicon glyphicon-arrow-left"></span> Select a person from the list</h1>
			</div>
		</div>
	</script>

	<script type="text/template" id="admin-list-pane-template">
		<form id="adminListFilter">
			<div class="input-group">
				<button id="toggleMentors" class="btn btn-sm"><span class="glyphicon glyphicon-check"/> Mentors</button>
				<button id="toggleDirectors" class="btn btn-sm"><span class="glyphicon glyphicon-check"/> Directors</button>
				<button id="toggleKids" class="btn btn-sm"><span class="glyphicon glyphicon-check"/> Kids</button>
			</div>
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
				<input class="form-control searchInput" type="text" placeholder="Filter Users..." >
			</div>
		</form>
		<ul id="adminList">
		</ul>
	</script>

	<script type="text/template" id="admin-director-list-item-template">
		<span> <span class="badge">D</span> <%= get("name") %> <span class="glyphicon"></span> </span>
	</script>

	<script type="text/template" id="admin-mentor-list-item-template">
		<span><span class="badge">M</span> <%= get("User").get("name") %> <span class="glyphicon"></span> </span>
	</script>

	<script type="text/template" id="admin-kid-list-item-template">
		<span><span class="badge">K</span> <%= get("name") %> <span class="glyphicon"></span> </span>
	</script>

	<script type="text/template" id="admin-director-detail-template">
		<div class="detail-header">
			<div class="detail-save">
				<button class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save </button>
			</div>
			<div class="text-center">
				<span class="smallProfilePicture" style="background-image:url('<%= get('Photo').url() %>');"></span>
				<span class="name"></span>
			</div>
		</div>
		<div class="detail-info">
			<div class="clearfix adminMoreDetails">
				<div class="address">
				</div>
				<div class="phone">
				</div>
			</div>
			<div class="clearfix adminMoreDetails">
				<div class="birth">
				</div>
				<div class="username">
				</div>
			</div>
			<div class="clearfix adminMoreDetails">
				<div class="email">
				</div>
				<div class="organization">
				</div>
			</div>
		</div>
	</script>

	<script type="text/template" id="admin-mentor-detail-template">
		<div class="detail-header">
			<div class="detail-save">
				<button class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save </button>
			</div>
			<div class="text-center">
				<span class="smallProfilePicture" style="background-image:url('<%= get('User').get('Photo').url() %>');"></span>
				<span class="name"></span>
			</div>
		</div>
		<div class="detail-info">
			<div class="clearfix adminMoreDetails">
				<div class="address">
				</div>
				<div class="phone">
				</div>
			</div>
			<div class="clearfix adminMoreDetails">
				<div class="birth">
				</div>
				<div class="username">
				</div>
			</div>
			<div class="clearfix adminMoreDetails">
				<div class="email">
				</div>
				<div class="organization">
				</div>
			</div>
			<div class="clearfix adminMoreDetails">
				<div class="kids">
				</div
			</div>
		</div>
	</script>

	<script type="text/template" id="admin-kid-detail-template">
		<div class="detail-header">
			<div class="detail-save">
				<button class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save </button>
			</div>
			<div class="text-center">
				<span class="smallProfilePicture" style="background-image:url('<%= get('photo').url() %>');"></span>
				<span class="name"></span>
			</div>
		</div>
		<div class="detail-info">
			<div class="clearfix adminMoreDetails">
				<div class="birthday">
				</div>
				<div class="organization">
				</div>
			</div>
		</div>
	</script>

	<script type="text/template" id="admin-add-organization-template">
		THIS IS ADD ORGANIZATION
	</script>

	<script type="text/template" id="admin-detail-address-template">
		<span>Address:</span>
		<address>
			<form class="form-inline" role="form">
				<input class="line1 form-control" type="text" placeholder="Address Line 1" value="<%= get('Address')!=undefined? get('Address'):'' %>" />
				<input class="line2 form-control" type="text" placeholder="Address Line 2" value="<%= get('Address2')!=undefined? get('Address2'):'' %>" />
				<input class="city form-control" type="text" placeholder="City" value="<%= get('City')!=undefined? get('City'):'' %>" />,
				<input class="state form-control" type="text" placeholder="State" value="<%= get('State')!=undefined? get('State'):'' %>" />
				<input class="zip form-control" type="text" placeholder="Zip" value="<%= get('Zip')!=undefined? get('Zip'):'' %>" />
			</form>
		</address>
	</script>

	<script type="text/template" id="admin-detail-basic-template">
		<span><%=label%>:</span>
		<form class="form-inline" role="form">
			<input class="form-control" type="<%=type%>" placeholder="<%=placeholder%>" value="<%=value%>" />
		</form>
	</script>

	<script type="text/template" id="admin-detail-name-template">
		<form class="form-inline" role="form">
			<input class="form-control name-input" type="<%=type%>" placeholder="<%=placeholder%>" value="<%=value%>" />
		</form>
	</script>

	<script type="text/template" id="admin-detail-select-template">
		<span><%=label%>:</span>
		<form class="form-inline" role="form">
			<select class="form-control" >
				<option value="">None</option>
				<%for(var i = 0; i < options.length; i++){%>
					<option value="<%=options[i].id%>" <%=options[i].selected?'selected':''%> ><%=options[i].name%></option>
				<%}%>
			</select>
		</form>
	</script>

	<script type="text/template" id="admin-detail-mentor-kid-list-template">
		<div class="kid-pairing">
			<span>This mentor is authoized to visit:</span>
			<form class="form-inline" role="form">
				<ul class='kid-pairing-list'>
				</ul>
			</form>
		</div>
	</script>

	<script type="text/template" id="admin-detail-mentor-kid-list-item-template">
		<input class="form-control kid-name" type="text" placeholder="Add a kid..." value="<%=value%>" />
		<%if(value!=''){%><button type="button" class="close" aria-hidden="true">&times;</button>
		<%}else {%><button type="button" class="add-kid-pair" aria-hidden="true"><span class="glyphicon glyphicon-plus"></span></button>
		<%}%>
	</script>

	<!--**************************************
		Visit veiwer view
	***************************************-->

	<script type="text/template" id="visit-viewer-template">
		<div id="sidebar">
		</div>
		<div id="visit-wrapper" >
			<div id="visit">
				<span id="main-pane-welcome"><span style="font-size:.8em" class="glyphicon glyphicon-arrow-left"></span> Select a visit</span>
			</div>
		</div>
		<div class="modal fade image-modal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body">
					</div>
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/template" id="side-bar-template">
		<form id="mentorListFilter" action="#">
			<div class="input-group">
				<span class="input-group-addon glyphicon glyphicon-search"></span>
				<input class="form-control searchInput" type="text" placeholder="Filter Mentors..." />
			</div>
		</form>
		<ul id="mentor-list">
			Loading Mentor List...
		</ul>
		<div class="clear-fix"/>
	</script>

	<script type="text/template" id="mentor-item-template">
		<li class="mentor">
			<div class="mentor-name">
			<span class="smallProfilePicture" style="background-image:url('<%= User.get('Photo').url() %>');"></span>
			<%= User.get('name') %></div>
			<ul class="visit-list">
				loading visits...
			</ul>
		</li>
	</script>
	
	<script type="text/template" id="visit-item-template">
		<li class="li-visit"><%= (get("Start") ? get("Start").format("MMMM Do, YYYY"):"- Unnamed Visit -") %></li>
	</script>
	
	<script type="text/template" id="visit-template">
		<h1><%= (Start?Start.format('MMMM Do, YYYY'):"Visit Never Started") %></h1>
		<div class="visit-info">
			On <b><%= Start.format('MMMM Do YYYY') %></b>
			at <b><%= Start.format('h:mm a') %></b>,
			<b><%= Mentor.get('User').get('name') %></b> visited 
			<%= getKidListString(Kids, 'name')%>
			for <b><%= moment.duration(End.diff(Start)).humanize() %></b>.
		</div>
		<div id="map">
		</div>
		<div id="visitLog">
		</div>
	</script>
	
	<script type="text/template" id="map-template">
		<div>
			Map Load Error.
		</div>
	</script>

	<script type="text/template" id="loglist-template">
		<h1 class="text-center">Comments &amp; Photos</h1>
		<ul id="logitem-list">
		</ul>
	</script>

	<script type="text/template" id="comment-template">
		<li>
			<div class="visitComment">
				<span><b><%= createdAt.format('MMMM Do YYYY h:mm a')%></b> </br> <i><b>Approximately at <%= address %></b></i></span>
				<p><%= Text %><p>
			</div>
		</li>
	</script>

	 <script type="text/template" id="photo-template">
		<li>
			<div class="visitPhoto" >
				<span><b><%= createdAt.format('MMMM Do YYYY h:mm a')%></b></span>
					<!--//This link points to an exact index, needs to be fixed -->
					<a href="#" class="image-thumbnail">
						<img class="thumbnail" src="<%= Data.url() %>" data-title="<%= createdAt.format('MMMM Do YYYY h:mm a')%>"/>
					</a>
			</div>
			<div id="<%=id%>" class="lightbox fade" tabindex="-1" role="dialog" aria-hidden="true">
				<div class='lightbox-dialog'>
					<div class='lightbox-content'>
						<img src=<%= Data.url() %> style="max-width:100%;height:auto;" />
					</div>
				</div>
			</div
		</li>
	</script>
	</body>

</html>
